<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Fake Emotion Tracker</title>
	<link rel="stylesheet" href={{ url_for('static',filename='styles/page.css')}}>
</head>

<body>

<main>


	<div class="divother">
		<h1>
			The Emotion Tracker
		</h1>

	</div>

	<br>

	<div class="flex-container">

		<div class="container">
			<img src={{ url_for('static',filename='images/MecaLily_2.JPG')}} style="image-orientation: 90deg;" class="image">
			<div class="overlay">
				<div class="text">
					I'm scared of people. They always think I'm a girl.

				</div>
			</div>
		</div>

		<div class="flex-item">

			<div class="diva">
				<a href="/cam/" >Analyse</a>
			</div>

			<h5>
				If you are scared, please don’t be. I don’t know why you are worried ; Nor do I know why. But please, stop. What is the point in being scared ? It will only get in the way. Maybe there is a problem, so what ? Instead of worrying and wasting your time, why don’t you try finding  solution. Or if there isn’t anything you can do, just wait and see. You can’t do anything about it anyway. Sorry If can’t make you feel better. But at least know that I will always be there for you. No matter what. So don’t worry.
			</h5>

			<h3>
				Fear
			</h3>

		</div>

	</div>

	<br>

</main>

</body>

</html>


