<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Fake Emotion Tracker</title>
	<link rel="stylesheet" href={{ url_for('static',filename='styles/page.css')}}>
</head>

<body>

<main>


	<div class="divother">
		<h1>
			The Emotion Tracker
		</h1>

	</div>

	<br>

	<div class="flex-container">

		<div class="container">
			<img src={{ url_for('static',filename='images/MecaLily4.JPG')}} style="image-orientation: 90deg;" class="image">
			<div class="overlay">
				<div class="text">
					T.T

				</div>
			</div>
		</div>

		<div class="flex-item">

			<div class="diva">
				<a href="/cam/" >Analyse</a>
			</div>

			<h5>
				Sadness is something I know very well. It can be caused by many factors. Being sad, depressed, disapointed, hopeless. Painful. The most important, is to not lose hope. Continue fighting. You won’t get anything if you do nothing but grief. People will tell you to cheer up. Just like I did. But sometimes you just can’t.  So cry. Cry as much as you want, as loud as you wish. But cry. Empty your heart. Because, an empty heart is easier to heal than a heart in the middle of an icy ocean.
			</h5>

			<h3>
				Sadness
			</h3>

		</div>

	</div>

	<br>

</main>

</body>

</html>

