<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Fake Emotion Tracker</title>
	<link rel="stylesheet" href={{ url_for('static',filename='styles/page.css')}}>
</head>

<body>

<main>


	<div class="divother">
		<h1>
			The Emotion Tracker
		</h1>

	</div>

	<br>

	<div class="flex-container">

		<div class="container">
			<img src={{ url_for('static',filename='images/MecaLily_5.JPG')}} style="image-orientation: 90deg;" class="image">
			<div class="overlay">
				<div class="text">
					I hate being disgust

				</div>
			</div>
		</div>

		<div class="flex-item">

			<div class="diva">
				<a href="/cam/" >Analyse</a>
			</div>

			<h5>
				I know how it feels to be disgust. Not very pleasant, right ? Just stop thinking about it . Look, here’s   a video that will, I hope, make you laugh your disgust away. Good luck getting rid of your disgust ! Fighting ! I’m not of much help, hue…
			</h5>

			<h3>
				Disgust
			</h3>

		</div>

	</div>

	<br>

</main>

</body>

</html>


