<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Fake Emotion Tracker</title>
	<link rel="stylesheet" href={{ url_for('static',filename='styles/page.css')}}>
</head>

<body>

<main>


	<div class="divother">
		<h1>
			The Emotion Tracker
		</h1>

	</div>

	<br>

	<div class="flex-container">

		<div class="container">
			<img src={{ url_for('static',filename='images/MecaLily_3.JPG')}} style="image-orientation: 90deg;" class="image">
			<div class="overlay">
				<div class="text">
					There are some things I still don't know

				</div>
			</div>
		</div>

		<div class="flex-item">

			<div class="diva">
				<a href="/cam/" >Analyse</a>
			</div>

			<h5>
				Surprise… Is it good or bad ? I’m not good in that field, so, try answering the unswer for me.
			</h5>

			<h3>
				Surprise
			</h3>

		</div>

	</div>

	<br>

</main>

</body>

</html>


