<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Fake Emotion Tracker</title>
	<link rel="stylesheet" href={{ url_for('static',filename='styles/page.css')}}>
</head>

<body>

<main>


	<div class="divother">
		<h1>
			The Emotion Tracker
		</h1>

	</div>

	<br>

	<div class="flex-container">

		<div class="container">
			<img src={{ url_for('static',filename='images/MecaLily_4.JPG')}} style="image-orientation: 90deg;" class="image">
			<div class="overlay">
				<div class="text">
					YOLO !

				</div>
			</div>
		</div>

		<div class="flex-item">

			<div class="diva">
				<a href="/cam/" >Analyse</a>
			</div>

			<h5>
				You emo b***h ! Smile a little ! I don’t know ! Oh, there’s nothing to be happy or amused about… Well here’s something to make you smile ! Now stop looking like Sasuke !
			</h5>

			<h3>
				Emo
			</h3>

		</div>

	</div>

	<br>

</main>

</body>

</html>



